.navbar {
  background-color: #fff;
  padding: 0.75rem 1.5rem;
  display: fixed;
  top: 0;
  left: 0;
}

.navbar-container {
  margin: 0 0.7rem;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
}

.navbarImg {
  height: 50px;
}

.navbar-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
}

.navbar-links a {
  display: block;
  list-style-type: none;
  padding: 0 20px;
  text-decoration: none;
  font-size: 0.8rem;
  color: green;
  font-weight: 500;
}

.navbar-links a:hover {
  border: 1px double green;
  border-radius: 20px;
  background-color: green;
  color: #fff;
  transition: 0.3s linear;
  overflow: hidden;
}

.navbar-product a {
  color: green;
  border: 2px solid green;
  border-radius: 15px;
}

.navbar-product a:hover {
  color: #fff;
  background-color: green;
}

.navbar-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.navbar-icon {
  font-size: 1.5rem;
  width: 40px;
}

.show-navbar {
  height: auto;
}

@media screen and (min-width: 768px) {
  .navbar-btn {
    display: none;
  }

  .navbar-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }

  .navbarImg {
    height: 60px;
  }

  .navbar-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
    overflow: hidden;
  }
  .navbar-links a {
    margin: 0 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
  }
}
