* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka One", "Signika", sans-serif;
  line-height: 1.4;
}

/* Hero */
.defaultHero,
.aboutHero,
.errorHero,
.orderHero {
  min-height: 50vh;
  background: url("./images/vicoHero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.8;
}
.banner {
  margin: 0 auto;
}

.defaultHero,
.aboutHero,
.errorHero,
.orderHero,
h1 p {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 2px 6px rgba(53, 181, 98, 0.85);
}

.aboutHero {
  background-image: url("./images/lamp.jpg");
}

.errorHero {
  background-image: url("./images/error.jpg");
}

.orderHero {
  background-image: url("./images/howtoorder.jpg");
}

/* End of Hero */

.btn-primary {
  text-decoration: none;
  letter-spacing: 5px;
  color: #fff;
  background: transparent;
  padding: 0.2rem 0.3rem;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: 0.5s linear;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
}

.btn-primary:hover {
  color: green;
  background: #fff;
  transition: 0.3s linear;
}
